<style>
    body {
        background-color: #332b28;
        font-family: Helvetica, Arial, sans-serif; 
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Helvetica, Arial, sans-serif; 
    }

    p {
        font-family: Helvetica, Arial, sans-serif; 
    }

    .btn {
        background-color: #7d726d;
        color: white;
        border: 1px solid #b7ada7;
        font-family: Helvetica, Arial, sans-serif; 
    }

    .card-title {
        background-color: #443e3b; 
        color: #ffffff; 
        padding: 10px; 
        border-radius: 15px;
        font-family: Courier, monospace;
    }

    .table td {
        font-size: 16px; 
    }


</style>



<h1 class="text-center" style="color: white; font-family: 'Times New Roman', Times, serif;">Modulo Cocinero</h1>

<br/>
<form asp-action="Visualizar pedidos">


    @foreach (var detallesmesa in (IEnumerable<dynamic>)ViewData["listadoDePedidosPorMesa"])
    {
        <div class="card mb-3 border-3" style="background-color: #b7ada7;">
            <div class="card-body">
                <h5 class="card-title">Mesa @detallesmesa.id_Mesa</h5>
                <div class = "text-center">
                    <table id="tabla-pedidos" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Plato</th>
                                <th>Comentario</th>
                                <th>Cantidad</th>
                                <th>Estado</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var pedidoPorMesa in (IEnumerable<dynamic>)ViewData["listadoDePedidosPorMesa"])
                            {
                                if (pedidoPorMesa.id_Mesa == detallesmesa.id_Mesa)
                                {
                                    foreach (var detallepedido in pedidoPorMesa.Pedidos)
                                    {
                                        
                                        <tr>
                                            <td><div class="mr-2">@detallepedido.nombrePlato</div></td>
                                            <td><div class="mr-2">@detallepedido.Comentarios</div></td>
                                            <td><div class="mr-2">@detallepedido.cantidadPlato</div></td>
                                            <td class="estado" data-id="@detallepedido.id_Detalle">@detallepedido.estado</td>

                                            <td>
                                                <div class="mr-2"></div>
                                                <button type="button" class="btn" onclick="cambiarEstado('@detallepedido.id_Detalle', '@detallepedido.estado'); location.reload();">Cambiar Estado</button>



                                            </td>
                                        </tr>

                                    }
                                }
                            }
                           
                        </tbody>
                    </table>

                </div>
                
            </div>
        </div>
    }


    <script>
        function cambiarEstado(idDetalle, estadoActual) {
            $.ajax({
                type: "POST",
                url: "/Cocinero/CambiarEstado",
                data: { id: idDetalle },
                success: function (response) {
                    if (response.success) {
                        // actualizar el estado
                        if (estadoActual == "Solicitado") {
                            $('button[data-id="' + idDetalle + '"]').text("Preparando");
                            
                        } else if (estadoActual == "Preparando") {
                            $('button[data-id="' + idDetalle + '"]').text("Finalizado");
                            
                        }
                        document.getElementById("estado-" + idDetalle).innerText = nuevoEstado;
                        

                    }
                },
                error: function (xhr, status, error) {
                    // Manejar errores si es necesario
                }
            });
        }


    </script>
@*     intento de uso de signalR *@   
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/estadoHub") // Especifica la URL del hub
            .build();

        connection.start().then(() => {
            console.log("Conexión establecida con el hub.");
        }).catch(err => console.error(err));

        // Escuchar eventos del servidor
        connection.on("EstadoActualizado", (idDetalle, nuevoEstado) => {
            // Actualizar la interfaz de usuario con el nuevo estado
            $('.estado[data-id="' + idDetalle + '"]').text(nuevoEstado);
        });

    </script>


</form>
